.mobile-app {
  padding-bottom: 100px;

  .wrapper__mobile-app {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .mobile-app__offer {
      display: flex;
      flex-direction: column;
      width: 630px;

      .offer__text {
        margin: 40px 0;
      }
      .offer__buttons {
        display: flex;
        justify-content: space-between;
        width: 420px;

        button {
          display: flex;
          align-items: center;
          width: 200px;
          height: 64px;
          border: 1px solid $color-border-dark;
          border-radius: 32px;
          background-color: $color-background-body;
          transition:
            box-shadow 0.3s cubic-bezier(0.33, 0.11, 0.02, 0.99),
            transform 0.3s cubic-bezier(0.33, 0.11, 0.02, 0.99);

          svg {
            padding: 0 8px 0 13px;

            path {
              transition: all ease 0.2s;
              fill: $color-text-dark;
            }
          }

          &:hover {
            box-shadow:
              0 2px 2px rgba(0, 0, 0, 0.1),
              0 1px 3px rgba(0, 0, 0, 0.05),
              0 4px 4px rgba(0, 0, 0, 0.1),
              0 8px 8px rgba(0, 0, 0, 0.1),
              4px 16px 16px rgba(0, 0, 0, 0.15),
              4px 32px 32px rgba(0, 0, 0, 0.15);
            transform: scale(1.02) translateY(-1px);
            background-color: $color-background-container;
            path {
              fill: $color-text-light;
            }
          }
        }
      }
    }

    .mobile-app__screens {
      display: flex;
      width: 630px;
      height: 630px;
    }
  }
}
