@import './slides/slides';
.favorite-coffee {
  padding-bottom: 100px;

  .wrapper__favorite-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
// --title
.favorite-coffee__title {
  text-align: center;
}
