$color-text-dark: #403f3d;
$color-text-light: #e1d4c9;
$color-text-accent: #b0907a;
$color-background-html: #b6aea7;
$color-background-body: #e1d4c9;
$color-background-container: #665f55;
$color-background-backdrop: #403f3d;
$color-border-light: #c1b6ad;
$color-border-dark: #665f55;

$desktop-width: 1440px;
$desktop-content-width: 1360px;
$tablet-width: 768px;
$tablet-content-width: 688 px;
$mobile-big-width: 414px;
$mobile-content-width: 380px;
$mobile-width: 380px;
$mobile-content-width: 348px;
