footer {
  padding-bottom: 40px;

  .footer__wrapper {
    display: flex;
    align-items: center;
    background-color: $color-background-container;
    border-radius: 40px;

    .footer__offer {
      padding: 100px;
      width: 530px;

      .offer__title {
        padding-bottom: 40px;
        .title_light {
          color: $color-text-light;
        }
      }

      .offer__socials {
        display: flex;
        justify-content: space-between;
        width: 204px;
        .button__socials {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          background-color: $color-background-container;
          border: 1px solid $color-border-light;
          border-radius: 50%;
          transition: all 0.3s cubic-bezier(0.33, 0.11, 0.02, 0.99);
          &:hover {
            background-color: $color-background-body;
            box-shadow:
              0 2px 2px rgba(0, 0, 0, 0.1),
              0 1px 3px rgba(0, 0, 0, 0.05),
              0 2px 2px rgba(0, 0, 0, 0.1),
              0 4px 4px rgba(0, 0, 0, 0.1),
              2px 6px 6px rgba(0, 0, 0, 0.15),
              3px 9px 9px rgba(0, 0, 0, 0.15);
            transform: scale(1.02) translateY(-1px);
            path {
              stroke: $color-text-dark;
              transition: all 0.5s cubic-bezier(0.33, 0.11, 0.02, 0.99);
            }
          }
        }
      }
    }

    .footer__contact-info {
      display: flex;
      flex-direction: column;
      color: $color-text-light;

      .contacts-info__title {
        color: $color-text-light;
        padding-bottom: 40px;
      }

      .contact-info {
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        span {
          line-height: 20px;
          padding-bottom: 5px;
          border-bottom: 2px solid $color-background-container;
          transition: all 0.3s cubic-bezier(0.33, 0.11, 0.02, 0.99);
        }
        svg {
          padding: 0 10px 5px 0;
          border-bottom: 2px solid $color-background-container;
          transition: all 0.3s cubic-bezier(0.33, 0.11, 0.02, 0.99);
        }
        &:hover {
          cursor: pointer;
          svg {
            border-bottom: 2px solid $color-background-body;
          }
          span {
            border-bottom: 2px solid $color-background-body;
          }
        }
      }
    }
  }
}
